<div class="container">
  <div class="card my-3">
    <div class="card-header">
      <h2>Ejemplo Factura</h2>
    </div>
    <div class="card-body">
        <app-invoice-view [id]="invoice.id" [name]="invoice.name"></app-invoice-view>

      <div class="row my-3">
        <div class="col">
          <app-client-view [client]="invoice.client"></app-client-view>
        </div>

        <div class="col">
          <app-company-view [company]="invoice.company"></app-company-view>
        </div>
      </div>

      <app-list-items [items]="invoice.items"></app-list-items>
      <app-total [total]="invoice.total"></app-total>

    </div>
  </div>
</div>
